<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/admin/images/favicon.ico">

    <title>
        <%=pageTitle%>
    </title>
    <link rel="icon" href="/admin/images/favicon.ico">

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="/admin/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Bootstrap extend-->
    <link rel="stylesheet" href="/admin/css/bootstrap-extend.css">

    <!-- bootstrap slider -->
    <link rel="stylesheet" href="/admin/assets/vendor_plugins/bootstrap-slider/slider.css">

    <!-- owlcarousel-->
    <link rel="stylesheet" href="/admin/assets/vendor_components/OwlCarousel2/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="/admin/assets/vendor_components/OwlCarousel2/dist/assets/owl.theme.default.css">

    <!-- flexslider-->
    <link rel="stylesheet" href="/admin/assets/vendor_components/flexslider/flexslider.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/admin/css/master_style.css">

    <!-- Superieur Admin skins -->
    <link rel="stylesheet" href="/admin/css/skins/_all-skins.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/admin/css/additionalCss.css">
</head>

<%- include('./include/header.ejs')%>

    <%if(errMsg){%>
        <div class="alert alert-danger">
            <%=errMsg%>
        </div>
        <%}%>
            <form action="/admin/<%=editing?'edit-user':'add-user'%>" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter ..."
                        value="<%= oldInput.firstName%>">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Enter ..."
                        value="<%= oldInput.lastName%>">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" name="mobile" id="mobile" class="form-control" placeholder="Enter ..."
                        value="<%= oldInput.mobile%>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter ..."
                        value="<%= oldInput.email%>">
                </div>
                <%if(!editing){%>
                    <div class="form-group">
                        <label for="email">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Enter ..." value="<%= oldInput.password%>">
                    </div>
                    <%}%>

                        <div class="form-group">

                            <input type="checkbox" name="isAdmin" id="isAdmin" class="form-control"
                                <%=oldInput.isAdmin?'checked':''%>/>
                            <label for="isAdmin">Admin Access</label>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <%if(editing){%>
                            <input type="hidden" name="userId" value="<%= oldInput._id %>">
                            <%}%>
                                <button type="submit" class="btn btn-success">
                                    <%= !editing ? 'Add' :'Update'%>
                                </button>
                                <a href="/admin/users" class="btn btn-danger">Cancel</a>
            </form>
            <%- include('./include/footer.ejs')%>

                <!-- jQuery 3 -->
                <script src="/admin/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>

                <!-- popper -->
                <script src="/admin/assets/vendor_components/popper/dist/popper.min.js"></script>

                <!-- Bootstrap 4.0-->
                <script src="/admin/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>

                <!-- SlimScroll -->
                <script src="/admin/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

                <!-- FastClick -->
                <script src="/admin/assets/vendor_components/fastclick/lib/fastclick.js"></script>

                <!-- Superieur Admin App -->
                <script src="/admin/js/template.js"></script>

                <!-- Superieur Admin for demo purposes -->
                <script src="/admin/js/demo.js"></script>

                <!-- Bootstrap slider -->
                <script src="/admin/assets/vendor_plugins/bootstrap-slider/bootstrap-slider.js"></script>

                <!-- owlcarousel -->
                <script src="/admin/assets/vendor_components/OwlCarousel2/dist/owl.carousel.js"></script>

                <!-- flexslider -->
                <script src="/admin/assets/vendor_components/flexslider/jquery.flexslider.js"></script>
                <script src="/admin/js/pages/slider.js"></script>

                <!-- steps  -->
                <script src="/admin/assets/vendor_components/jquery-steps-master/build/jquery.steps.js"></script>

                <!-- validate  -->
                <script
                    src="/admin/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>

                <!-- Sweet-Alert  -->
                <script src="/admin/assets/vendor_components/sweetalert/sweetalert.min.js"></script>

                <!-- wizard  -->
                <script src="/admin/js/pages/steps.js"></script>


                <script src="/js/utility.js"></script>
                </body>

</html>